[submodule "seminal-code-factory"]
	path = seminal-code-factory
	url = https://github.com/PreethiJohn1228/seminal-code-factory
[submodule "elait-code-factory"]
	path = elait-code-factory
	url = https://github.com/PreethiJohn1228/elait-code-factory
